body{
    background-color: black;
    margin: 0;
    box-sizing: border-box;
}

.boasvindas{
    color: white;
    position: absolute;
    font-size: 40px;
    top: 210px;
}

.text{
    color: white;
    position: absolute;
    top: 340px;   
}

.final{
    position: absolute;
    color: white;
    top: 1000px;
}

